body{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
@media screen and (max-width: 520px){
    body{
        background-color: red;
    }
}

.header{
    height: 50px;
    background-color: white;
    padding: 0;
    margin: 0;
}

.header__logo{
    height: 50px;
    display: inline-block;
    padding: 0;
    margin: 0;
    float:left ;
}
.header__title{
    float: left;
    margin: 10px 0;
    padding-right:10px;
    border-right:solid 2px black ;

}
.header__searchfield{
    float: left;
    padding: 0;
    margin: 15px 0 0 5%;
    border-radius: 5px;

}
.container{
    margin-top: 15px;
    height: auto;
    background-color: gray;
}
.container__leftmenu{
    width: 20%;
    height: 500px;
    background-color: #fff;
    display: inline-block;
    float: left;
}
.container__leftmenu__ul{
    margin: 0;
    padding: 0;

}
.container__leftmenu__ul__li{
    border-bottom: solid 1px grey;

    padding-left: 5px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.container__rightblock{
    background-color: aquamarine;
    width: 80%;
    height:  500px;
    float: right;
}
.header__icon{
    height: 50px;
    float: right;
}
.rightBlock{
  background-color: cadetblue;
  box-sizing: content-box;
  width: 80%;
  float: left;
}

.rightBlock__element__left{
  width: 40%;
  float: left;
}
.rightBlock__element__left>h1{
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 10px;

}
.rightBlock__element__right{
  width: 60%;
  float: left;
}
.rightBlock__element__right>h1{
  margin: 0;
  padding: 0;

}
.block{
  border-bottom: solid 1px seashell;
  padding-bottom: 10px;
}
.containerContacts{
    width: 300px;
}
.userNameAndPhone{
    width: 100%;
    height: 50px;
    float: left;
    border-top: solid 1px red;
}
.userNameAndPhone>h3{
    margin: 0;
    float: left;
}
h3.second{
   float: right;
}
.avatar {
    margin-left: 120px;
}
.profile-info{
    padding-top: 10px;
    padding-bottom: 10px;
}
.profile-info__user-Value{
    display: inline-block;
    text-align: left;
}

.form-group {
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.control-label {
    width: 145px;
    float: left;
    text-align: right;
}

.user-one-value {
    margin-left:5px;
    width: 50%;
    float: left;
    margin-top: 3px;
}
.list{
    width: 200px;
    border-top:solid 2px grey;

}
.list>li{
    text-transform: capitalize;
    border-right: solid 2px red;
    margin-top: 2px;
}
header{
    background-color: cadetblue;
    margin: 0;
    padding: 10px 0;
}

header a{
    padding-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}
nav{
    padding: 10px 0;
    border-top:solid 2px white;
    background-color: cornflowerblue;

}

nav a{
    padding-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}
.feed_post{
    width: 275px;
    margin-left: 10px;
    margin-top: 10px;
    border: solid 3px lightcoral;
    float: left;

}
.feed_post h1{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}
.feed_post footer{
    margin-top: 10px;
    text-align: center;
}
.feed_post img{
    width: 275px;
    height: 183px;

}
.loader{
    width: 50px;
}
.albums_container{
    width: 80%;
    margin-left: 5%;
    margin-top: 15px;
    background-color: #c4a070;
    height: 800px;
}
.albumsCanvas{
   width: 300px;
    padding-left: 14px;
    margin-top: 10px;
   display: inline-block;
    float: left;
}
.albumsCanvas_img{
    width: 300px;
    height: 300px;
}
.albumsCanvas > h1 {
    text-align: center;
}

